doctype html
html
  head
    title 予定調整くん
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet",
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css",
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm",
    crossorigin="anonymous")
    link(rel="stylesheet", href="/stylesheets/style.css")
    
  body
    header
      p Welcome to #{title}
      img(src=picture_url, width="50px" height="50px")
    div.container
      block content
    footer
      div.footerInner
        small &copy; N予備校
    script(src="/javascripts/bundle.js")
