doctype html
html
  head
    title= title
    link(rel="stylesheet",
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css",
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm",
    crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery-3.3.1.min.js")
    script(src="/javascripts/buruburu.js")
  body
    header
      nav.navbar.navbar-light.bg-light
        div.navbar-header
          a(href="/").navbar-brand.nav-link 予定調整くん
        ul.navbar-nav
          if user
            li.nav-item
              a(href="/logout").nav-link #{user.username} をログアウト
    div.container
      div.jumbotron.my-3
        h1.display-4 予定調整くん
        p.lead 予定調整くんは、来訪者に予定候補に参加の有無やメッセージを返信してもらうことで可視化され予定調整が便利になるアプリです。GitHub認証、Twitter認証を利用しています。
      div
        a.login-btn(href="/auth/github").btn.btn-info.my-3 GitHubでログイン
        a.login-btn(href="/auth/twitter").btn.btn-info.my-3 Twitterでログイン
      img#sumaho(src="/images/smartphone.png")
    footer
      div.footerInner
        small &copy; N予備校